*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    cursor: none;
    font-family: gilroy extrabold;
}
#main{
    width: 100%;
    height: 100%;
    /* padding: 5px 5px; */
    /* background-color: yellow; */
}
#main::-webkit-scrollbar{
    display: none;
}
#ma{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    z-index: 2;
  

}
#bar{
    width: 80%;
    height: 15px;
    position: absolute;
    top: 75%;
    left: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;

}
#bar #num{
    width: 10%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    color: white;
    font-family: gilroy;
    font-weight: 100;
}
#bar #num h3{
    font-weight: 100;
}
#bar #smooth{
    width: 0;
    height: 5px;
    background-color: white;
    margin-left: 20px;
}
#main #nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid black;
}
#main #nav #nav1{
    width: 10%;
    height: 7vh;
    display: flex;
    position: relative;
}
#main #nav #nav1 h1{
    font-family: gilroy;
    font-size: 40px;
}
#main #nav #nav1 #circle{
    width: 1em;
    height: 7vh;
    position: relative;
    margin-left: -12px;
}
#main #nav #nav1 #circle .dot{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 1em;
    height: 2vh;
    border-radius: 50%;
    background-color: red;
   z-index: 1;
   animation: cursorAnim2 1s infinite alternate;
}
#main #nav #nav2{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
#main #nav #nav2 #link{
    width: 16%;
    font-family: gilroy extrabold;
    display: flex;
   z-index: 4;
    
}
#main #nav #nav2 #link h3{
    font-weight: 200;
}
#main #nav #nav2 #link1{
    width: 16%;
    font-family: gilroy extrabold;
    display: flex;
    z-index: 4;
}
#main #nav #nav2 #link1 h3{
    font-weight: 200;
}
#main #nav #nav2 #link2{
    width: 16%;
    font-family: gilroy extrabold;
    display: flex;
    z-index: 4;
}
#main #nav #nav2 #link2 h3{
    font-weight: 200;
}
#main #nav #nav2 #link .cir{
    width: .7em;
    height: .7em;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: 100;
    margin-left: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 4;

}
#main #nav #nav2 #link .cir h6{
    font-weight: 100;
}
#main #nav #nav2 #fr{
    width: 14%;
    opacity: 0.8;
    font-family: gilroy extrabold;
    color: black;
    z-index: 4;
}
#main #head{
    position: absolute;
    top: 18%;
    left: 30%;
 
}
#main #head h1{
    font-size: 80px;
    font-family: voyage;
    font-weight: 100;
    
    
}
#main #head h1:nth-child(2){
    margin-top: 240px;
    margin-left: 20px;
}

#main #head h1 span{
    color: red;
}
#main #tags{
    width: 14%;
    height: 6vh;

    position: absolute;
    bottom: 5%;
    right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main #tags #af{
    width: 14%;
    height: 4vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    
}
#main #tags #af:nth-child(1) i:nth-child(1){
    color: red;
}
#main #creative{
    font-family: gilroy extrabold;
    font-size: 15px;
   position: absolute;
   letter-spacing: 10px;
   bottom: 7%;
   left: 41%;
   z-index: 4;
  
}
#main #creative h3{
    font-weight: 100;

}
#main #shcircle #hys{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#shcircle{
    position: absolute;
    bottom: 3%;
    left: 2%;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./shcircle.jpg);
    background-size: cover;
    background-position: center;
    animation: cursorAnim1 5s infinite alternate;
}
#cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    border: none;
    z-index: 4;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    font-size: 8px;
    color: red;
    transform: translate(-50%,-50%);
    transform-origin: 100% 100%;
    z-index: 3;
}

.expand{
    width: 40px;
    height: 40px;

}

@keyframes cursorAnim{
    form
    { 
         transform: scale(1) ;        
    }
    to
    {
        transform: scale(1.5);
    }
}

@keyframes cursorAnim1{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
  

@keyframes cursorAnim2{
    form{
        transform: translateY(0%);
    }
    to{
        transform: translateY(200%);
    }
}

video {
    height: auto;
    min-height:100%;
    width: 100%;
    min-width: 100%;
}
.video_holder {
    height: 100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
}
header, footer {
    height: 50px;
    width: 100%;
    background: #0096ff;
}